<!DOCTYPE html>
<html lang="ja" dir="ltr">

<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
		<meta charset="UTF-8">
		<script></script>
		<% include('../_prefetch'); %>
				<meta http-equiv="X-UA-Compatible" content="IE=edge,chorme=1">
				<meta name="viewport" content="width=device-width, initial-scale=1.0">
				<title>Welcome To Our Wedding!! - 日進印刷の社長が結婚しました。</title>
				<link rel="stylesheet" href="../assets/css/main.css">
				<link rel="stylesheet" href="../assets/css/photos.css">
				<link rel="stylesheet" href="../assets/css/luminous.css" aync>
</head>

<body>
		<div id="js--loading" class="is--loading">
				<div class="loader"></div>
		</div>
		<main>
				<h1 class="title--page">すべての写真</h1>
				<div id="macy--wrap" class="row uncollapse small-up-2 medium-up-3 large-up-4">
				</div>

				<div class="hr row align-center cta">
						<div class="column">
								<p class="text-center">
										<a href="https://amzn.asia/2wszS2W" target="_blank" class="button"><img src="../assets/img/money.png"></a>
								</p>
						</div>

				</div>
		</main>
		<%- include('../_footer'); %>
				<script src="../assets/js/lazysizes.js" aync></script>
				<script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" defer></script>
				<script src="../assets/js/photos.js" defer></script>
</body>

</html>