<!DOCTYPE html>
<html lang="ja" dir="ltr">

<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
		<meta charset="UTF-8">
		<script></script>
		<% include('../_prefetch'); %>
				<meta http-equiv="X-UA-Compatible" content="IE=edge,chorme=1">
				<meta name="viewport" content="width=device-width, initial-scale=1.0">
				<title>Welcome To Our Wedding!! - 日進印刷の社長が結婚しました。</title>
				<link rel="stylesheet" href="../assets/css/main.css">
				<link rel="stylesheet" href="../assets/css/reception.css">
</head>

<body>
		<main>
				<h1 class="title--page">受付</h1>
				<div class="recep--images text-center row align-bottom align-center">
						<div class="column">
								<img class="lazyload" alt="新郎福田一生側の受付イラスト" data-src="../assets/img/recep--man.png">
						</div>
						<div class="column">
								<img class="lazyload" alt="新婦福田加奈側の受付イラスト" data-src="../assets/img/recep--woman.png">
						</div>
				</div>
				<div class="recep--table">
						<div class="button-group text-center row align-bottom align-center">
								<div class="column">
										<a href="../photos" class="button--circle --third"><img class="lazyload" alt="写真だけ見る" data-src="../assets/img/recep--third.png"></a>
								</div>
								<div class="column">
										<a href="../flow" class="button--circle --main"><img class="lazyload" alt="入場する" data-src="../assets/img/recep--main.png"></a>
								</div>
								<div class="column">
										<a href="http://amzn.asia/2wszS2W" target="_blank" class="button--circle --sub"><img class="lazyload" alt="ご祝儀を渡す" data-src="../assets/img/recep--sub.png"></a>
								</div>
						</div>
				</div>
		</main>
		<footer></footer>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" aync></script>
		<script src="../assets/js/lazysizes.js" aync></script>
</body>

</html>