<section class="l-contents bg-white">
	<div class="row">
		<div class="column">
			<h1 class="l-contents_title --heading">相続なら、はなまる相続</h1>
			<p class="l-contents_title show-for-medium">本当に必要な「相談の専門家」をご用意します。</p>
			<div class="l-contents_description">
				<p>　相続の無料相談なら、はなまる相続にお任せください。相続問題は誰もが当事者になる可能性がある身近な問題です。相続の無料相談は、税理士、不動産業者、司法書士、弁護士、銀行、保険業者など数多くの業者によって行われていますが、どの専門士に相談すべきでしょうか？</p>
				<p>はなまる相続ならば、あなたの相続に本当に必要な相続の専門家を、厳正な審査をクリアした広島で相続に携わる専門家集団の中から<span class="bg-line">無料</span>で紹介します。</p>
			</div>
		</div>
	</div>
	<div class="l-results">
		<div class="l-results_box --member">
			<p class="l-results_main">
				<i class="fa fa-user"></i>
				<span class="l-results_number">11</span>
				<span class="l-results_unit">人</span>
			</p>
			<p class="l-results_name">厳正な審査をクリアした専門家</p>
		</div>
		<div class="l-results_box --pie-chart">
			<p class="l-results_main">
				<i class="fa fa-pie-chart"></i>
				<span class="l-results_number">全て</span>
				<span class="l-results_unit">相続手続き</span>
			</p>
			<p class="l-results_name">対応範囲</p>
		</div>
		<div class="l-results_box --archive">
			<p class="l-results_main">
				<i class="fa fa-archive"></i>
				<span class="l-results_number">24,000</span>
				<span class="l-results_unit">件以上</span>
			</p>
			<p class="l-results_name">専門家の年間解決実績、合計数</p>
		</div>
		<p class="l-results_timestamp">※2016年11月15日現在</p>
	</div>
</section>