<footer>
		<div class="row">
				<div class="column">
						<p>Produced By<br><a href="https://dtdsh.com/" class="logo--main">日進印刷株式会社</a></p>
						<div class="sns--wrap">
								<a target="_blank" href="https://www.facebook.com/nisshin.dtdsh" class="btn btn--facebook">
										<svg role="img" class="facebook"><title>Facebook</title><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../assets/svg/sprite.svg#facebook"></use></svg>
								</a>
								<a target="_blank" href="https://twitter.com/nisshin_inc" class="btn btn--twitter">
										<svg role="img" class="twitter"><title>Facebook</title><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../assets/svg/sprite.svg#twitter"></use></svg>
								</a>
								<a target="_blank" href="https://www.instagram.com/nisshin_inc/" class="btn btn--instagram">
										<svg role="img" class="instagram"><title>Facebook</title><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../assets/svg/sprite.svg#instagram"></use></svg>
								</a>
						</div>
				</div>
		</div>
		<div class="row">
				<div class="column small-12 medium-6">
						<p>Costume Provider<br>
								<a href="https://www.nijo-bridal.co.jp" target="_blank" class="logo--sub"><img src="//www.nijo-bridal.co.jp/_src/13209/top_nijologo.png" alt="二条のロゴ"></a>
						</p>
				</div>
				<div class="column small-12 medium-6">
						<p>Wedding Hall<br>
								<a href="https://www.anacrowneplaza-hiroshima.jp/wedding/index.html" target="_blank" class="logo--sub"><img src="//www.anacrowneplaza-hiroshima.jp/common/images/header_logo.png" alt="ANAクラウンプラザホテル広島のロゴ"></a>
						</p>
				</div>
		</div>
</footer>