<!DOCTYPE html>
<html lang="ja" dir="ltr">

<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
		<meta charset="UTF-8">
		<script>
				<% include('_prefetch'); %>
		</script>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chorme=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!--[if lt IE 9]>
	<script src="//cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script>
	<script src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
		<title>Welcome To Our Wedding!! - 日進印刷の社長が結婚しました。</title>
		<link rel="stylesheet" href="<%= path.css; %>main.css">
</head>

<body>