<div id="hero" class="l-hero">
	<div class="l-hero_inner">
		<p class="l-hero_title"><img src="<%= path.img; %>hero-title.png" alt="あなたに必要な「相続の専門家」をご用意します。"></p>
		<div class="l-hero_bg"><img src="<%= path.img; %>hero-ver02.png" alt="無料の相続相談のイメージ"></div>
		<div class="l-hero_desc"><a href="https://sub-hanamaru-souzoku.ssl-lolipop.jp/contactus/" class="l-hero_link" title="相続のお話をしましょう。" target="_blank">
			<p class="l-hero_subtitle"><img src="<%= path.img; %>hero-subtitle.png" alt="厳正な審査をクリアした専門家集団による無料の相続相談"></p>
			<p class="l-hero_text"><img src="<%= path.img;  %>hero-desc.png" alt="はなまる相続は、特定の専門家だけに頼らず、本当に必要な専門家らの知識で解決します。"></p>
			</a></div>
	</div>
</div>