<!DOCTYPE html>
<html lang="ja" dir="ltr">

<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
		<meta charset="UTF-8">
		<script></script>
		<% include('_prefetch'); %>
				<meta http-equiv="X-UA-Compatible" content="IE=edge,chorme=1">
				<meta name="viewport" content="width=device-width, initial-scale=1.0">
				<title>Welcome To Our Wedding!! - 日進印刷の社長が結婚しました。</title>
				<link rel="stylesheet" href="./assets/css/main.css">
				<link rel="stylesheet" href="./assets/css/entrance.css">
</head>

<body>
		<main class="row align-center align-middle">
				<div id="entrance" class="column text-center">
						<p><img alt="Kazuki & Kana -- Welcome To Our Wedding." class="lazyload" data-src="./assets/img/title.png"></p>
						<div class="row align-center">
								<div class="column">
										<p class="photo--title"><img alt="新郎の写真" class="lazyload" data-src="./assets/img/kazuki.png"></p>
										<div class="button--entrance">
												<a class="button--man" href="reception"><img alt="新郎側受付-福田家" data-src="./assets/img/fukuda.png" class="lazyload"></a>
										</div>
								</div>
								<div class="column">
										<p class="photo--title"><img alt="新婦の写真" class="lazyload" data-src="./assets/img/kana.png"></p>
										<div class="button--entrance">
												<a class="button--woman" href="reception"><img alt="新婦側受付-牧野家" data-src="./assets/img/makino.png" class="lazyload"></a>
										</div>
								</div>
						</div>
				</div>
		</main>
		<footer></footer>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" aync></script>
		<script src="./assets/js/lazysizes.js" aync></script>
</body>

</html>