main {
		width: 100%;
		position: relative;
		background-color: #FFE0CF;
		overflow-x: hidden;
}

.title--page {
		position: absolute;
}

.recep--images {
		width: auto;
		height: 60vh;
}

.recep--table {
		position: relative;
		background-color: #FFF;
		width: 80vw;
		height: 40vh;
		margin: 0 auto;
		padding-bottom: 1rem;
		&::before,
		&::after {
				content: '';
				position: absolute;
				width: 0;
				height: 0;
		}
		&::before {
				border: {
						style: solid;
						width: 0 0 40vh 10vw;
						color: transparent transparent #FFF transparent;
				}
				top: 0;
				right: 100%;
		}
		&::after {
				border: {
						style: solid;
						width: 40vh 0 0 10vw;
						color: transparent transparent transparent #FFF;
				}
				top: 0;
				left: 100%;
		}
}