$sans-serif: -apple-system,
BlinkMacSystemFont,
"Helvetica Neue",
"Yu Gothic",
YuGothic,
Verdana,
Meiryo,
"M+ 1p",
sans-serif;
$serif: "Yu Mincho",
YuMincho,
"Hiragino Mincho ProN",
"Hiragino Mincho Pro",
"HGP明朝B",
serif;
$monospace: "SourceHanCodeJP-Regular",
"Myrica M",
"MyricaM M",
"Ricty Diminished Discord",
"Migu 1M",
"Rounded M+ 1m regular",
"Rounded Mgen+ 1m regular",
"M+ 1m",
"VL ゴシック",
Menlo,
Monaco,
Consolas,
"Liberation Mono",
"Courier New",
monospace;
$ie-font: Verdana,
Meiryo,
sans-serif;

/* sans-serif */

@font-face {
    font-family: "Yu Gothic";
    src: local("Yu Gothic Medium");
    font-weight: 100;
}

@font-face {
    font-family: "Yu Gothic";
    src: local("Yu Gothic Medium");
    font-weight: 200;
}

@font-face {
    font-family: "Yu Gothic";
    src: local("Yu Gothic Medium");
    font-weight: 300;
}

@font-face {
    font-family: "Yu Gothic";
    src: local("Yu Gothic Medium");
    font-weight: 400;
}

@font-face {
    font-family: "Yu Gothic";
    src: local("Yu Gothic Bold");
    font-weight: bold;
}

@font-face {
    font-family: "Helvetica Neue";
    src: local("Helvetica Neue Regular");
    font-weight: 100;
}

@font-face {
    font-family: "Helvetica Neue";
    src: local("Helvetica Neue Regular");
    font-weight: 200;
}


/* monospace */

@font-face {
    font-family: "SourceHanCodeJP-Regular";
    src: local("SourceHanCodeJP-Regular");
}

@font-face {
    font-family: "Myrica M";
    src: local("Myrica M");
}

@font-face {
    font-family: "MyricaM M";
    src: local("MyricaM M");
}

@font-face {
    font-family: "Ricty Diminished Discord";
    src: local("Ricty Diminished Discord");
}

@font-face {
    font-family: "Migu 1M";
    src: local("Migu 1M");
}

@font-face {
    font-family: "Rounded M+ 1m regular";
    src: local("Rounded M+ 1m regular");
}

@font-face {
    font-family: "Rounded Mgen+ 1m regular";
    src: local("Rounded Mgen+ 1m regular");
}

@font-face {
    font-family: "VL ゴシック";
    src: local("VL ゴシック");
}

@mixin font-family($font-family:sans-serif, $is_important:false) {
    @if $is_important {
        @if $font-family==sans-serif {
            font-family: $sans-serif !important;
            @media all and (-ms-high-contrast: none) {
                & {
                    font-family: $ie-font !important;
                }
            }
        }
        @else if $font-family==serif {
            font-family: $serif !important;
            font-feature-settings: "palt" !important;
        }
        @else if $font-family==monospace {
            font-family: $monospace !important;
        }
    }
    @else {
        @if $font-family==sans-serif {
            font-family: $sans-serif;
            @media all and (-ms-high-contrast: none) {
                & {
                    font-family: $ie-font;
                }
            }
        }
        @else if $font-family==serif {
            font-family: $serif;
            font-feature-settings: "palt";
        }
        @else if $font-family==monospace {
            font-family: $monospace;
        }
    }
}

body {
    @include font-family(serif);
}

.button,
button {
    @include font-family(serif, true);
}