<!DOCTYPE html>
<html lang="ja" dir="ltr">

<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
		<meta charset="UTF-8">
		<script></script>
		<% include('../_prefetch'); %>
				<meta http-equiv="X-UA-Compatible" content="IE=edge,chorme=1">
				<meta name="viewport" content="width=device-width, initial-scale=1.0">
				<title>Welcome To Our Wedding!! - 日進印刷の社長が結婚しました。</title>
				<link rel="stylesheet" href="../assets/css/main.css">
				<link rel="stylesheet" href="../assets/css/flow.css">
				<link rel="stylesheet" href="../assets/css/luminous.css" aync>
</head>

<body>
		<main>
				<h1 class="title--page">08：30　―　おめかし...</h1>
				<div class="flow--images">
						<a href="https://i0.wp.com/dtdsh.com/wp-content/uploads/2018/12/0001.jpg?fit=1777,1000" class="js--zoom"><img class="image-3" src="//i0.wp.com/dtdsh.com/wp-content/uploads/2018/12/0001.jpg?w=1152" alt="結婚式会場のANAクラウンプラザホテル"></a>
						<a href="https://i0.wp.com/dtdsh.com/wp-content/uploads/2018/12/0003.jpg?fit=1777,1000" class="js--zoom"><img class="image-2" src="//i0.wp.com/dtdsh.com/wp-content/uploads/2018/12/0003.jpg?w=768" alt="新郎-福田一生・新婦-牧野加奈おめかし中..."></a>
				</div>
				<div class="flow--images">
						<a href="https://i0.wp.com/dtdsh.com/wp-content/uploads/2018/12/0004.jpg?fit=1777,1000" class="js--zoom"><img class="image-2" src="//i0.wp.com/dtdsh.com/wp-content/uploads/2018/12/0004.jpg?w=768" alt="新郎-福田一生・新婦-牧野加奈おめかし中..."></a>
						<a href="https://i0.wp.com/dtdsh.com/wp-content/uploads/2018/12/0002.jpg?fit=1777,1000" class="js--zoom"><img class="image-3" src="//i0.wp.com/dtdsh.com/wp-content/uploads/2018/12/0002.jpg?w=1152" alt="結婚式会場のANAクラウンプラザホテル"></a>
				</div>

				<div class="row align-spaced expanded">
						<div class="column small-12 medium-5">
								<h1 class="title--page border--center">10：15　―　新郎側控室</h1>
								<div class="row uncollapse">
										<div class="column small-6 large-3">
												<a href="https://i0.wp.com/dtdsh.com/wp-content/uploads/2018/12/0010.jpg?fit=1777,1000" class="js--zoom"><img class="lazyload" data-src="//i1.wp.com/dtdsh.com/wp-content/uploads/2018/12/0010.jpg?resize=300,300"></a>
										</div>
										<div class="column small-6 large-3">
												<a href="https://i0.wp.com/dtdsh.com/wp-content/uploads/2018/12/0014.jpg?fit=1777,1000" class="js--zoom"><img class="lazyload" data-src="//i1.wp.com/dtdsh.com/wp-content/uploads/2018/12/0014.jpg?resize=300,300"></a>
										</div>
										<div class="column small-6 large-3">
												<a href="https://i0.wp.com/dtdsh.com/wp-content/uploads/2018/12/IMG_0685.jpg?fit=1777,1000" class="js--zoom"><img class="lazyload" data-src="//i1.wp.com/dtdsh.com/wp-content/uploads/2018/12/IMG_0685.jpg?resize=300,300"></a>
										</div>
										<div class="column small-6 large-3">
												<a href="../vr-view.html?image=R0010003_20181210100042" class="link--pano" target="_blank"><img class="lazyload" data-src="//i1.wp.com/dtdsh.com/wp-content/uploads/2018/12/R0010003_20181210100042.jpg?resize=300,300"></a>
										</div>
								</div>
						</div>
						<div class="column small-12 medium-5">
								<h1 class="title--page border--center">10：15　―　新婦側控室</h1>
								<div class="row uncollapse">
										<div class="column small-6 large-3">
												<a href="https://i0.wp.com/dtdsh.com/wp-content/uploads/2018/12/0009.jpg?fit=1777,1000" class="js--zoom"><img class="lazyload" data-src="//i1.wp.com/dtdsh.com/wp-content/uploads/2018/12/0009.jpg?resize=300,300"></a>
										</div>
										<div class="column small-6 large-3">
												<a href="https://i0.wp.com/dtdsh.com/wp-content/uploads/2018/12/0011.jpg?fit=1777,1000" class="js--zoom"><img class="lazyload" data-src="//i1.wp.com/dtdsh.com/wp-content/uploads/2018/12/0011.jpg?resize=300,300"></a>
										</div>
										<div class="column small-6 large-3">
												<a href="https://i0.wp.com/dtdsh.com/wp-content/uploads/2018/12/0012.jpg?fit=1777,1000" class="js--zoom"><img class="lazyload" data-src="//i1.wp.com/dtdsh.com/wp-content/uploads/2018/12/0012.jpg?resize=300,300"></a>
										</div>
										<div class="column small-6 large-3">
												<a href="https://i0.wp.com/dtdsh.com/wp-content/uploads/2018/12/IMG_1157.jpg?fit=1777,1000" class="js--zoom"><img class="lazyload" data-src="//i1.wp.com/dtdsh.com/wp-content/uploads/2018/12/IMG_1157.jpg?resize=300,300"></a>
										</div>
										<div class="column small-6 large-3">
												<a href="https://i0.wp.com/dtdsh.com/wp-content/uploads/2018/12/IMG_1158.jpg?fit=1777,1000" class="js--zoom"><img class="lazyload" data-src="//i1.wp.com/dtdsh.com/wp-content/uploads/2018/12/IMG_1158.jpg?resize=300,300"></a>
										</div>
								</div>
						</div>
				</div>
				<h1 class="title--page">10：10　―　両家挨拶</h1>
				<div class="hr row uncollapse">
						<div class="column">
								<a href="https://i0.wp.com/dtdsh.com/wp-content/uploads/2018/12/0015.jpg?fit=1777,1000" class="js--zoom"><img class="lazyload" data-src="//i1.wp.com/dtdsh.com/wp-content/uploads/2018/12/0015.jpg?w=580"></a>
						</div>
						<div class="column">
								<a href="https://i0.wp.com/dtdsh.com/wp-content/uploads/2018/12/0016.jpg?fit=1777,1000" class="js--zoom"><img class="lazyload" data-src="//i1.wp.com/dtdsh.com/wp-content/uploads/2018/12/0016.jpg?w=580"></a>
						</div>
				</div>
				<div class="hr row uncollapse">
						<div class="column">
								<a href="https://i0.wp.com/dtdsh.com/wp-content/uploads/2018/12/0018-e1545306895250.jpg?fit=1777,1000" class="js--zoom"><img class="lazyload" data-src="//i1.wp.com/dtdsh.com/wp-content/uploads/2018/12/0018-e1545306895250.jpg?resize=300,300" alt="新郎福田一生と新婦牧野加奈"></a>
						</div>
				</div>
				<div class="hr row uncollapse">
						<div class="column">
								<a href="https://i0.wp.com/dtdsh.com/wp-content/uploads/2018/12/0017.jpg?fit=1777,1000" class="js--zoom"><img class="lazyload" data-src="//i1.wp.com/dtdsh.com/wp-content/uploads/2018/12/0017.jpg?w=580"></a>
						</div>
						<div class="column">
								<a href="https://i0.wp.com/dtdsh.com/wp-content/uploads/2018/12/0019.jpg?fit=1777,1000" class="js--zoom"><img class="lazyload" data-src="//i1.wp.com/dtdsh.com/wp-content/uploads/2018/12/0019.jpg?w=580"></a>
						</div>
				</div>
				<div class="hr row">
						<div class="column">
								<a href="https://i0.wp.com/dtdsh.com/wp-content/uploads/2018/12/0020.jpg?fit=1777,1000" class="js--zoom"><img class="lazyload" data-src="//i1.wp.com/dtdsh.com/wp-content/uploads/2018/12/0020.jpg?resize=300,300" alt="新郎福田一生と新婦牧野加奈の自己紹介"></a>
						</div>
				</div>
				<h1 class="title--page">10：20　―　挙式までお待ちください...</h1>
				<div class="row uncollapse hr">
						<div class="column">
								<a href="https://i0.wp.com/dtdsh.com/wp-content/uploads/2018/12/0045.jpg?fit=1777,1000" class="js--zoom"><img class="lazyload" data-src="//i1.wp.com/dtdsh.com/wp-content/uploads/2018/12/0045.jpg?resize=300,300" alt=""></a>
						</div>
				</div>
				<div class="row uncollapse hr">
						<div class="column">
								<a href="https://i0.wp.com/dtdsh.com/wp-content/uploads/2018/12/0008-e1545308008795.jpg?fit=1777,1000" class="js--zoom"><img class="lazyload" data-src="//i1.wp.com/dtdsh.com/wp-content/uploads/2018/12/0008-e1545308008795.jpg?resize=300,300" alt=""></a>
						</div>
						<div class="column">
								<a href="https://i0.wp.com/dtdsh.com/wp-content/uploads/2018/12/0028.jpg?fit=1777,1000" class="js--zoom"><img class="lazyload" data-src="//i1.wp.com/dtdsh.com/wp-content/uploads/2018/12/0028.jpg?resize=300,300" alt=""></a>
						</div>
				</div>
				<div class="row uncollapse hr">
						<div class="column">
								<a href="https://i0.wp.com/dtdsh.com/wp-content/uploads/2018/12/0005.jpg?fit=1777,1000" class="js--zoom"><img class="lazyload" data-src="//i1.wp.com/dtdsh.com/wp-content/uploads/2018/12/0005.jpg?resize=300,300" alt=""></a>
						</div>
						<div class="column">
								<a href="https://i0.wp.com/dtdsh.com/wp-content/uploads/2018/12/0034.jpg?fit=1777,1000" class="js--zoom"><img class="lazyload" data-src="//i1.wp.com/dtdsh.com/wp-content/uploads/2018/12/0034.jpg?resize=300,300" alt=""></a>
						</div>
						<div class="column">
								<a href="https://i0.wp.com/dtdsh.com/wp-content/uploads/2018/12/0007-e1545308595438.jpg?fit=1777,1000" class="js--zoom"><img class="lazyload" data-src="//i1.wp.com/dtdsh.com/wp-content/uploads/2018/12/0007-e1545308595438.jpg?resize=300,300" alt=""></a>
						</div>
				</div>
				<div class="row collapse hr">
						<div class="column">
								<a href="https://i0.wp.com/dtdsh.com/wp-content/uploads/2018/12/0050.jpg?fit=1777,1000" class="js--zoom"><img class="lazyload" data-src="//i1.wp.com/dtdsh.com/wp-content/uploads/2018/12/0050.jpg?fit=1200,1000" alt=""></a>
						</div>
				</div>
				<p class="text-center">リハーサル風景・前撮り写真は<br><a href="../photos/" class="button large">すべての写真</a><br>にあります。</p>










				<h1 class="title--page">11：00　―　挙式...<a href="https://www.anacrowneplaza-hiroshima.jp/wedding/index.html" target="_blank">木もれ陽のチャペル</a></h1>
				<div class="hr row">
						<div class="column">
								<a href="https://i0.wp.com/dtdsh.com/wp-content/uploads/2018/12/0053.jpg?fit=1777,1000" class="js--zoom"><img class="lazyload" data-src="//i1.wp.com/dtdsh.com/wp-content/uploads/2018/12/0053.jpg?w=580"></a>
						</div>
						<div class="column">
								<a href="https://i0.wp.com/dtdsh.com/wp-content/uploads/2018/12/0056.jpg?fit=1777,1000" class="js--zoom"><img class="lazyload" data-src="//i1.wp.com/dtdsh.com/wp-content/uploads/2018/12/0056.jpg?w=580"></a>
						</div>
				</div>



				<div class="row align-spaced expanded hr">
						<div class="column small-12 medium-5">
								<div class="row">
										<div class="column small-6">
												<a href="https://i0.wp.com/dtdsh.com/wp-content/uploads/2018/12/0058.jpg?fit=1777,1000" class="js--zoom"><img class="lazyload" data-src="//i1.wp.com/dtdsh.com/wp-content/uploads/2018/12/0058.jpg?resize=300,300"></a>
										</div>
										<div class="column small-6">
												<a href="https://i0.wp.com/dtdsh.com/wp-content/uploads/2018/12/0060-e1545313426445.jpg?fit=1777,1000" class="js--zoom"><img class="lazyload" data-src="//i1.wp.com/dtdsh.com/wp-content/uploads/2018/12/0060-e1545313426445.jpg?resize=300,300"></a>
										</div>
								</div>
						</div>
						<div class="column small-12 medium-5">
								<div class="row">
										<div class="column small-6">
												<a href="https://i0.wp.com/dtdsh.com/wp-content/uploads/2018/12/0064.jpg?fit=1777,1000" class="js--zoom"><img class="lazyload" data-src="//i1.wp.com/dtdsh.com/wp-content/uploads/2018/12/0064.jpg?resize=300,300"></a>
										</div>
										<div class="column small-6">
												<a href="https://i0.wp.com/dtdsh.com/wp-content/uploads/2018/12/0063.jpg?fit=1777,1000" class="js--zoom"><img class="lazyload" data-src="//i1.wp.com/dtdsh.com/wp-content/uploads/2018/12/0063.jpg?resize=300,300"></a>
										</div>
								</div>
						</div>
				</div>

				<div class="hr row">
						<div class="column">
								<a href="https://i0.wp.com/dtdsh.com/wp-content/uploads/2018/12/0035.jpg?fit=1777,1000" class="js--zoom"><img class="lazyload" data-src="//i1.wp.com/dtdsh.com/wp-content/uploads/2018/12/0035.jpg?w=500"></a>
						</div>
				</div>

				<div class="hr row">
						<div class="column">
								<a href="https://i0.wp.com/dtdsh.com/wp-content/uploads/2018/12/0062.jpg?fit=1777,1000" class="js--zoom"><img class="lazyload" data-src="//i1.wp.com/dtdsh.com/wp-content/uploads/2018/12/0062.jpg?w=300"></a>
						</div>
				</div>

				<div class="hr row">
						<div class="column">
								<div class="bg--black"></div>
						</div>
				</div>


				<div class="hr row">
						<div class="column">
								<a href="https://i0.wp.com/dtdsh.com/wp-content/uploads/2018/12/0065.jpg?fit=1777,1000" class="js--zoom"><img class="lazyload" data-src="//i1.wp.com/dtdsh.com/wp-content/uploads/2018/12/0065.jpg?w=600"></a>
						</div>
				</div>


				<div class="hr row">
						<div class="column">
								<a href="https://i0.wp.com/dtdsh.com/wp-content/uploads/2018/12/0067.jpg?fit=1777,1000" class="js--zoom"><img class="lazyload" data-src="//i1.wp.com/dtdsh.com/wp-content/uploads/2018/12/0067.jpg?w=600"></a>
						</div>
				</div>


				<div class="hr row">
						<div class="column">
								<a href="https://i0.wp.com/dtdsh.com/wp-content/uploads/2018/12/0068.jpg?fit=1777,1000" class="js--zoom"><img class="lazyload" data-src="//i1.wp.com/dtdsh.com/wp-content/uploads/2018/12/0068.jpg?w=600"></a>
						</div>
				</div>


				<div class="hr row">
						<div class="column">
								<a href="https://i0.wp.com/dtdsh.com/wp-content/uploads/2018/12/0069.jpg?fit=1777,1000" class="js--zoom"><img class="lazyload" data-src="//i1.wp.com/dtdsh.com/wp-content/uploads/2018/12/0069.jpg?w=580"></a>
						</div>
						<div class="column">
								<a href="https://i0.wp.com/dtdsh.com/wp-content/uploads/2018/12/0070.jpg?fit=1777,1000" class="js--zoom"><img class="lazyload" data-src="//i1.wp.com/dtdsh.com/wp-content/uploads/2018/12/0070.jpg?w=580"></a>
						</div>
				</div>


				<div class="hr row">
						<div class="column">
								<a href="https://i0.wp.com/dtdsh.com/wp-content/uploads/2018/12/0071.jpg?fit=1777,1000" class="js--zoom"><img class="lazyload" data-src="//i1.wp.com/dtdsh.com/wp-content/uploads/2018/12/0071.jpg?w=600"></a>
						</div>
				</div>


				<div class="hr row">
						<div class="column">
								<a href="https://i0.wp.com/dtdsh.com/wp-content/uploads/2018/12/0073.jpg?fit=1777,1000" class="js--zoom"><img class="lazyload" data-src="//i1.wp.com/dtdsh.com/wp-content/uploads/2018/12/0073.jpg?w=580"></a>
						</div>
						<div class="column">
								<a href="https://i0.wp.com/dtdsh.com/wp-content/uploads/2018/12/0074.jpg?fit=1777,1000" class="js--zoom"><img class="lazyload" data-src="//i1.wp.com/dtdsh.com/wp-content/uploads/2018/12/0074.jpg?w=580"></a>
						</div>
				</div>


				<div class="hr row">
						<div class="column">
								<a href="https://i0.wp.com/dtdsh.com/wp-content/uploads/2018/12/0075.jpg?fit=1777,1000" class="js--zoom"><img class="lazyload" data-src="//i1.wp.com/dtdsh.com/wp-content/uploads/2018/12/0075.jpg?w=600"></a>
						</div>
				</div>


				<div class="hr row">
						<div class="column">
								<a href="https://i0.wp.com/dtdsh.com/wp-content/uploads/2018/12/0076.jpg?fit=1777,1000" class="js--zoom"><img class="lazyload" data-src="//i0.wp.com/dtdsh.com/wp-content/uploads/2018/12/0076.jpg?fit=1200,1000"></a>
						</div>
				</div>


				<div class="hr row">
						<div class="column">
								<a href="https://i0.wp.com/dtdsh.com/wp-content/uploads/2018/12/0085.jpg?fit=1777,1000" class="js--zoom"><img class="lazyload" data-src="//i1.wp.com/dtdsh.com/wp-content/uploads/2018/12/0085.jpg?w=580"></a>
						</div>
						<div class="column">
								<a href="https://i0.wp.com/dtdsh.com/wp-content/uploads/2018/12/0079.jpg?fit=1777,1000" class="js--zoom"><img class="lazyload" data-src="//i1.wp.com/dtdsh.com/wp-content/uploads/2018/12/0079.jpg?w=580"></a>
						</div>
				</div>


				<div class="hr row">
						<div class="column">
								<a href="https://i0.wp.com/dtdsh.com/wp-content/uploads/2018/12/0087-e1545320526710.jpg?fit=1777,1000" class="js--zoom"><img class="lazyload" data-src="//i1.wp.com/dtdsh.com/wp-content/uploads/2018/12/0087-e1545320526710.jpg?resize=450,300"></a>
						</div>
						<div class="column">
								<a href="https://i0.wp.com/dtdsh.com/wp-content/uploads/2018/12/0030.jpg?fit=1777,1000" class="js--zoom"><img class="lazyload" data-src="//i1.wp.com/dtdsh.com/wp-content/uploads/2018/12/0030.jpg?h=300"></a>
						</div>
				</div>


				<div class="hr row">
						<div class="column">
								<a href="https://i0.wp.com/dtdsh.com/wp-content/uploads/2018/12/0032.jpg?fit=1777,1000" class="js--zoom"><img class="lazyload" data-src="//i1.wp.com/dtdsh.com/wp-content/uploads/2018/12/0032.jpg?h=300"></a>
						</div>
						<div class="column">
								<a href="https://i0.wp.com/dtdsh.com/wp-content/uploads/2018/12/0088.jpg?fit=1777,1000" class="js--zoom"><img class="lazyload" data-src="//i1.wp.com/dtdsh.com/wp-content/uploads/2018/12/0088.jpg?h=300"></a>
						</div>
				</div>


				<div class="hr row">
						<div class="column">
								<a href="https://i0.wp.com/dtdsh.com/wp-content/uploads/2018/12/0090.jpg?fit=1777,1000" class="js--zoom"><img class="lazyload" data-src="//i0.wp.com/dtdsh.com/wp-content/uploads/2018/12/0090.jpg?w=300"></a>
						</div>
				</div>


				<div class="hr row small-up-2 large-up-4">
						<div class="column">
								<a href="https://i0.wp.com/dtdsh.com/wp-content/uploads/2018/12/0091.jpg?fit=1777,1000" class="js--zoom"><img class="lazyload" data-src="//i1.wp.com/dtdsh.com/wp-content/uploads/2018/12/0091.jpg?resize=300,300"></a>
						</div>
						<div class="column">
								<a href="https://i0.wp.com/dtdsh.com/wp-content/uploads/2018/12/0083.jpg?fit=1777,1000" class="js--zoom"><img class="lazyload" data-src="//i1.wp.com/dtdsh.com/wp-content/uploads/2018/12/0083.jpg?resize=300,300"></a>
						</div>
						<div class="column">
								<a href="https://i0.wp.com/dtdsh.com/wp-content/uploads/2018/12/0093.jpg?fit=1777,1000" class="js--zoom"><img class="lazyload" data-src="//i1.wp.com/dtdsh.com/wp-content/uploads/2018/12/0093.jpg?resize=300,300"></a>
						</div>
						<div class="column">
								<a href="https://i0.wp.com/dtdsh.com/wp-content/uploads/2018/12/0095.jpg?fit=1777,1000" class="js--zoom"><img class="lazyload" data-src="//i1.wp.com/dtdsh.com/wp-content/uploads/2018/12/0095.jpg?resize=300,300"></a>
						</div>
				</div>


				<div class="hr row">
						<div class="column">
								<a href="https://i0.wp.com/dtdsh.com/wp-content/uploads/2018/12/0097-ANIMATION.gif?fit=1777,1000" class="js--zoom"><img class="lazyload" data-src="//i1.wp.com/dtdsh.com/wp-content/uploads/2018/12/0097-ANIMATION.gif?w=600"></a>
						</div>
				</div>
				<div class="hr row">
						<div class="column">
								<a href="https://i0.wp.com/dtdsh.com/wp-content/uploads/2018/12/0036.jpg?fit=1777,1000" class="js--zoom"><img class="lazyload" data-src="//i1.wp.com/dtdsh.com/wp-content/uploads/2018/12/0036.jpg?w=600"></a>
						</div>
				</div>


				<div class="hr row">
						<div class="column">
								<a href="https://i0.wp.com/dtdsh.com/wp-content/uploads/2018/12/0102.jpg?fit=1777,1000" class="js--zoom"><img class="lazyload" data-src="//i1.wp.com/dtdsh.com/wp-content/uploads/2018/12/0102.jpg?w=300"></a>
						</div>
				</div>


				<div class="hr row">
						<div class="column">
								<a href="https://i0.wp.com/dtdsh.com/wp-content/uploads/2018/12/0103.jpg?fit=1777,1000" class="js--zoom"><img class="lazyload" data-src="//i1.wp.com/dtdsh.com/wp-content/uploads/2018/12/0103.jpg?w=450"></a>
						</div>
				</div>


				<div class="hr row">
						<div class="column">
								<a href="https://i0.wp.com/dtdsh.com/wp-content/uploads/2018/12/0104.jpg?fit=1777,1000" class="js--zoom"><img class="lazyload" data-src="//i1.wp.com/dtdsh.com/wp-content/uploads/2018/12/0104.jpg?w=600"></a>
						</div>
				</div>


				<div class="hr row">
						<div class="column">
								<a href="https://i0.wp.com/dtdsh.com/wp-content/uploads/2018/12/0105.jpg?fit=1777,1000" class="js--zoom"><img class="lazyload" data-src="//i1.wp.com/dtdsh.com/wp-content/uploads/2018/12/0105.jpg?w=1200"></a>
						</div>
				</div>


				<div class="hr row">
						<div class="column">
								<a href="https://i0.wp.com/dtdsh.com/wp-content/uploads/2018/12/0107-e1545322274987.jpg?fit=1777,1000" class="js--zoom"><img class="lazyload" data-src="//i0.wp.com/dtdsh.com/wp-content/uploads/2018/12/0107-e1545322274987.jpg?resize=300,200"></a>
						</div>
						<div class="column">
								<a href="https://i0.wp.com/dtdsh.com/wp-content/uploads/2018/12/0109.jpg?fit=1777,1000" class="js--zoom"><img class="lazyload" data-src="//i0.wp.com/dtdsh.com/wp-content/uploads/2018/12/0109.jpg?resize=300,200"></a>
						</div>
						<div class="column">
								<a href="https://i0.wp.com/dtdsh.com/wp-content/uploads/2018/12/0106.jpg?fit=1777,1000" class="js--zoom"><img class="lazyload" data-src="//i0.wp.com/dtdsh.com/wp-content/uploads/2018/12/0106.jpg?resize=300,200"></a>
						</div>
				</div>


				<div class="hr row">
						<div class="column">
								<a href="https://i0.wp.com/dtdsh.com/wp-content/uploads/2018/12/0110.jpg?fit=1777,1000" class="js--zoom"><img class="lazyload" data-src="//i1.wp.com/dtdsh.com/wp-content/uploads/2018/12/0110.jpg?resize=300,300"></a>
						</div>
						<div class="column">
								<a href="https://i0.wp.com/dtdsh.com/wp-content/uploads/2018/12/0113.jpg?fit=1777,1000" class="js--zoom"><img class="lazyload" data-src="//i1.wp.com/dtdsh.com/wp-content/uploads/2018/12/0113.jpg?resize=300,300"></a>
						</div>
				</div>


				<div class="hr row">
						<div class="column">
								<a href="https://i0.wp.com/dtdsh.com/wp-content/uploads/2018/12/0115.jpg?fit=1777,1000" class="js--zoom"><img class="lazyload" data-src="//i1.wp.com/dtdsh.com/wp-content/uploads/2018/12/0115.jpg?resize=300,300"></a>
						</div>
				</div>


				<div class="hr row">
						<div class="column">
								<a href="https://i0.wp.com/dtdsh.com/wp-content/uploads/2018/12/0119.jpg?fit=1777,1000" class="js--zoom"><img class="lazyload" data-src="//i1.wp.com/dtdsh.com/wp-content/uploads/2018/12/0119.jpg?resize=500,500"></a>
						</div>
				</div>


				<div class="hr row">
						<div class="column">
								<a href="https://i0.wp.com/dtdsh.com/wp-content/uploads/2018/12/0120.jpg?fit=1777,1000" class="js--zoom"><img class="lazyload" data-src="//i1.wp.com/dtdsh.com/wp-content/uploads/2018/12/0120.jpg?resize=600,600"></a>
						</div>
				</div>


				<div class="hr row">
						<div class="column">
								<a href="https://i0.wp.com/dtdsh.com/wp-content/uploads/2018/12/0118-ANIMATION.gif?fit=1777,1000" class="js--zoom"><img class="lazyload" data-src="//i1.wp.com/dtdsh.com/wp-content/uploads/2018/12/0118-ANIMATION.gif?w=600"></a>
						</div>
				</div>


				<div class="hr row">
						<div class="column">
								<a href="https://i0.wp.com/dtdsh.com/wp-content/uploads/2018/12/0135.jpg?fit=1777,1000" class="js--zoom"><img class="lazyload" data-src="//i1.wp.com/dtdsh.com/wp-content/uploads/2018/12/0135.jpg?w=1200"></a>
						</div>
				</div>






















				<h1 class="title--page text-center border--center">12：00　―　22階スターダスト</h1>
				<div class="hr row small-up-2 large-up-4 uncollapse">
						<div class="column">
								<a href="https://i0.wp.com/dtdsh.com/wp-content/uploads/2018/12/0138.jpg?fit=1777,1000" class="js--zoom"><img class="lazyload" data-src="//i1.wp.com/dtdsh.com/wp-content/uploads/2018/12/0138.jpg?resize=300,300"></a>
						</div>
						<div class="column">
								<a href="https://i0.wp.com/dtdsh.com/wp-content/uploads/2018/12/0140.jpg?fit=1777,1000" class="js--zoom"><img class="lazyload" data-src="//i1.wp.com/dtdsh.com/wp-content/uploads/2018/12/0140.jpg?resize=300,300"></a>
						</div>
						<div class="column">
								<a href="https://i0.wp.com/dtdsh.com/wp-content/uploads/2018/12/0141.jpg?fit=1777,1000" class="js--zoom"><img class="lazyload" data-src="//i1.wp.com/dtdsh.com/wp-content/uploads/2018/12/0141.jpg?resize=300,300"></a>
						</div>
						<div class="column">
								<a href="https://i0.wp.com/dtdsh.com/wp-content/uploads/2018/12/0142.jpg?fit=1777,1000" class="js--zoom"><img class="lazyload" data-src="//i1.wp.com/dtdsh.com/wp-content/uploads/2018/12/0142.jpg?resize=300,300"></a>
						</div>
						<div class="column">
								<a href="https://i0.wp.com/dtdsh.com/wp-content/uploads/2018/12/0145.jpg?fit=1777,1000" class="js--zoom"><img class="lazyload" data-src="//i1.wp.com/dtdsh.com/wp-content/uploads/2018/12/0145.jpg?resize=300,300"></a>
						</div>
						<div class="column">
								<a href="https://i0.wp.com/dtdsh.com/wp-content/uploads/2018/12/0146.jpg?fit=1777,1000" class="js--zoom"><img class="lazyload" data-src="//i1.wp.com/dtdsh.com/wp-content/uploads/2018/12/0146.jpg?resize=300,300"></a>
						</div>
						<div class="column">
								<a href="https://i0.wp.com/dtdsh.com/wp-content/uploads/2018/12/0147.jpg?fit=1777,1000" class="js--zoom"><img class="lazyload" data-src="//i1.wp.com/dtdsh.com/wp-content/uploads/2018/12/0147.jpg?resize=300,300"></a>
						</div>
						<div class="column">
								<a href="https://i0.wp.com/dtdsh.com/wp-content/uploads/2018/12/0149-e1545324272658.jpg?fit=1777,1000" class="js--zoom"><img class="lazyload" data-src="//i1.wp.com/dtdsh.com/wp-content/uploads/2018/12/0149-e1545324272658.jpg?resize=300,300"></a>
						</div>
						<div class="column">
								<a href="https://i0.wp.com/dtdsh.com/wp-content/uploads/2018/12/0150.jpg?fit=1777,1000" class="js--zoom"><img class="lazyload" data-src="//i1.wp.com/dtdsh.com/wp-content/uploads/2018/12/0150.jpg?resize=300,300"></a>
						</div>
						<div class="column">
								<a href="https://i0.wp.com/dtdsh.com/wp-content/uploads/2018/12/0152.jpg?fit=1777,1000" class="js--zoom"><img class="lazyload" data-src="//i1.wp.com/dtdsh.com/wp-content/uploads/2018/12/0152.jpg?resize=300,300"></a>
						</div>
						<div class="column">
								<a href="https://i0.wp.com/dtdsh.com/wp-content/uploads/2018/12/0153.jpg?fit=1777,1000" class="js--zoom"><img class="lazyload" data-src="//i1.wp.com/dtdsh.com/wp-content/uploads/2018/12/0153.jpg?resize=300,300"></a>
						</div>
						<div class="column">
								<a href="https://i0.wp.com/dtdsh.com/wp-content/uploads/2018/12/0157.jpg?fit=1777,1000" class="js--zoom"><img class="lazyload" data-src="//i1.wp.com/dtdsh.com/wp-content/uploads/2018/12/0157.jpg?resize=300,300"></a>
						</div>
						<div class="column">
								<a href="https://i0.wp.com/dtdsh.com/wp-content/uploads/2018/12/0158.jpg?fit=1777,1000" class="js--zoom"><img class="lazyload" data-src="//i0.wp.com/dtdsh.com/wp-content/uploads/2018/12/0158.jpg?resize=300,300"></a>
						</div>
						<div class="column">
								<a href="https://i0.wp.com/dtdsh.com/wp-content/uploads/2018/12/0161.jpg?fit=1777,1000" class="js--zoom"><img class="lazyload" data-src="//i0.wp.com/dtdsh.com/wp-content/uploads/2018/12/0161.jpg?resize=300,300"></a>
						</div>
						<div class="column">
								<a href="https://i0.wp.com/dtdsh.com/wp-content/uploads/2018/12/0160-e1545324384220.jpg?fit=1777,1000" class="js--zoom"><img class="lazyload" data-src="//i0.wp.com/dtdsh.com/wp-content/uploads/2018/12/0160-e1545324384220.jpg?resize=300,300"></a>
						</div>
						<div class="column">
								<a href="https://i0.wp.com/dtdsh.com/wp-content/uploads/2018/12/0162.jpg?fit=1777,1000" class="js--zoom"><img class="lazyload" data-src="//i0.wp.com/dtdsh.com/wp-content/uploads/2018/12/0162.jpg?resize=300,300"></a>
						</div>
				</div>


				<div class="hr row">
						<div class="column">
								<a href="https://i0.wp.com/dtdsh.com/wp-content/uploads/2018/12/0155-01.jpg?fit=1777,1000" class="js--zoom"><img class="lazyload" data-src="//i1.wp.com/dtdsh.com/wp-content/uploads/2018/12/0155-01.jpg?w=1200"></a>
						</div>
				</div>


				<div class="hr row">
						<div class="column">
								<a href="https://i0.wp.com/dtdsh.com/wp-content/uploads/2018/12/0154.jpg?fit=1777,1000" class="js--zoom"><img class="lazyload" data-src="//i1.wp.com/dtdsh.com/wp-content/uploads/2018/12/0154.jpg?w=500"></a>
						</div>
						<div class="column">
								<a href="https://i0.wp.com/dtdsh.com/wp-content/uploads/2018/12/0156.jpg?fit=1777,1000" class="js--zoom"><img class="lazyload" data-src="//i1.wp.com/dtdsh.com/wp-content/uploads/2018/12/0156.jpg?w=500"></a>
						</div>
				</div>



				<h2 class="title--page text-center border--center">席次表</h2>
				<div class="hr row">
						<div class="column">
								<a href="https://i0.wp.com/dtdsh.com/wp-content/uploads/2018/12/name-plate_1.jpg?fit=1777,1000" class="js--zoom"><img class="lazyload" data-src="//i1.wp.com/dtdsh.com/wp-content/uploads/2018/12/name-plate_1.jpg?w=600" style="border:1px solid #DDD"></a>
						</div>
						<div class="column">
								<a href="https://i0.wp.com/dtdsh.com/wp-content/uploads/2018/12/name-plate_2.jpg?fit=1777,1000" class="js--zoom"><img class="lazyload" data-src="//i1.wp.com/dtdsh.com/wp-content/uploads/2018/12/name-plate_2.jpg?w=600" style="border:1px solid #DDD"></a>
						</div>
				</div>
				<p class="text-center"><a href="https://dtdsh.com/wp-content/uploads/2018/12/name-plate.pdf" class="button large" target="_blank">PDFで見る。</a></p>



				<div class="hr row">
						<div class="column">
								<a href="https://i0.wp.com/dtdsh.com/wp-content/uploads/2018/12/0164.jpg?fit=1777,1000" class="js--zoom"><img class="lazyload" data-src="//i1.wp.com/dtdsh.com/wp-content/uploads/2018/12/0164.jpg?resize=300,300"></a>
						</div>
				</div>
				<div class="hr row">
						<div class="column">
								<a href="https://i0.wp.com/dtdsh.com/wp-content/uploads/2018/12/0171.jpg?fit=1777,1000" class="js--zoom"><img class="lazyload" data-src="//i1.wp.com/dtdsh.com/wp-content/uploads/2018/12/0171.jpg?w=450"></a>
						</div>
				</div>
				<div class="hr row">
						<div class="column">
								<a href="https://i0.wp.com/dtdsh.com/wp-content/uploads/2018/12/0174.jpg?fit=1777,1000" class="js--zoom"><img class="lazyload" data-src="//i1.wp.com/dtdsh.com/wp-content/uploads/2018/12/0174.jpg?w=600"></a>
						</div>
						<div class="column">
								<a href="https://i0.wp.com/dtdsh.com/wp-content/uploads/2018/12/0173.jpg?fit=1777,1000" class="js--zoom"><img class="lazyload" data-src="//i1.wp.com/dtdsh.com/wp-content/uploads/2018/12/0173.jpg?w=600"></a>
						</div>
				</div>
				<div class="hr row">
						<div class="column">
								<a href="https://i0.wp.com/dtdsh.com/wp-content/uploads/2018/12/0172-e1545354616173.jpg?fit=1777,1000" class="js--zoom"><img class="lazyload" data-src="//i1.wp.com/dtdsh.com/wp-content/uploads/2018/12/0172-e1545354616173.jpg?resize=300,300"></a>
						</div>
				</div>
				<div class="hr row">
						<div class="column">
								<a href="https://i0.wp.com/dtdsh.com/wp-content/uploads/2018/12/0175.jpg?fit=1777,1000" class="js--zoom"><img class="lazyload" data-src="//i1.wp.com/dtdsh.com/wp-content/uploads/2018/12/0175.jpg?w=600"></a>
						</div>
				</div>
				<div class="hr row">
						<div class="column">
								<a href="https://i0.wp.com/dtdsh.com/wp-content/uploads/2018/12/0176-ANIMATION.gif?fit=1777,1000" class="js--zoom"><img class="lazyload" data-src="//i1.wp.com/dtdsh.com/wp-content/uploads/2018/12/0176-ANIMATION.gif?w=450"></a>
						</div>
				</div>
				<div class="hr row">
						<div class="column">
								<a href="https://i0.wp.com/dtdsh.com/wp-content/uploads/2018/12/0179.jpg?fit=1777,1000" class="js--zoom"><img class="lazyload" data-src="//i1.wp.com/dtdsh.com/wp-content/uploads/2018/12/0179.jpg?w=600"></a>
						</div>
				</div>



				<h2 class="title--page text-center border--center">MENU</h2>
				<div class="row uncollapse align-middle">
						<div class="column small-4">
								<a href="https://i0.wp.com/dtdsh.com/wp-content/uploads/2018/12/0183-e1545404538642.jpg?fit=1777,1000" class="js--zoom"><img class="lazyload" data-src="//i1.wp.com/dtdsh.com/wp-content/uploads/2018/12/0183-e1545404538642.jpg?resize=400,400"></a>
						</div>
						<div class="column small-8">
								<p>北海雲丹とクレイシームース パルメジャーノのフィヤンティーヌ</p>
								</a>
						</div>
						<div class="column small-4">
								<a href="https://i0.wp.com/dtdsh.com/wp-content/uploads/2018/12/0191.jpg?fit=1777,1000" class="js--zoom"><img class="lazyload" data-src="//i1.wp.com/dtdsh.com/wp-content/uploads/2018/12/0191.jpg?resize=400,400"></a>
						</div>
						<div class="column small-8">
								<p>冬を彩るお祝いオードブルパレット見立て</p>
								</a>
						</div>
						<div class="column small-4">
								<a href="https://i0.wp.com/dtdsh.com/wp-content/uploads/2018/12/0197-e1545404789296.jpg?fit=1777,1000" class="js--zoom"><img class="lazyload" data-src="//i1.wp.com/dtdsh.com/wp-content/uploads/2018/12/0197-e1545404789296.jpg?resize=400,400"></a>
						</div>
						<div class="column small-8">
								<p>じっくり色付けたオニオンスープパイ包み焼き</p>
								</a>
						</div>
						<div class="column small-4">
								<a href="https://i0.wp.com/dtdsh.com/wp-content/uploads/2018/12/0204.jpg?fit=1777,1000" class="js--zoom"><img class="lazyload" data-src="//i1.wp.com/dtdsh.com/wp-content/uploads/2018/12/0204.jpg?resize=400,400"></a>
						</div>
						<div class="column small-8">
								<p>甘鯛の鱗焼き オマール海老のリゾットサルト ソースアメリケーヌ</p>
								</a>
						</div>
						<div class="column small-4">
								<a href="https://i0.wp.com/dtdsh.com/wp-content/uploads/2018/12/0207-e1545405056533.jpg?fit=1777,1000" class="js--zoom"><img class="lazyload" data-src="//i1.wp.com/dtdsh.com/wp-content/uploads/2018/12/0207-e1545405056533.jpg?resize=400,400"></a>
						</div>
						<div class="column small-8">
								<p>柚子のグラニテ</p>
								</a>
						</div>
						<div class="column small-4">
								<a href="https://i0.wp.com/dtdsh.com/wp-content/uploads/2018/12/0233.jpg?fit=1777,1000" class="js--zoom"><img class="lazyload" data-src="//i1.wp.com/dtdsh.com/wp-content/uploads/2018/12/0233.jpg?resize=400,400"></a>
						</div>
						<div class="column small-8">
								<p>最高級牛フィレ肉（A-5）の網焼き 彩り野菜<br>芳醇な香りの赤ワインソースを添えて</p>
								</a>
						</div>
						<div class="column small-4">
								<a href="https://i0.wp.com/dtdsh.com/wp-content/uploads/2018/12/0236-e1545406261369.jpg?fit=1777,1000" class="js--zoom"><img class="lazyload" data-src="//i1.wp.com/dtdsh.com/wp-content/uploads/2018/12/0236-e1545406261369.jpg?resize=400,400"></a>
						</div>
						<div class="column small-8">
								<p>甘王イチゴのムースとピスタチオアイスクリームと共に<br>シュクル・フィレ飾り</p>
								</a>
						</div>
						<div class="column small-8">
								<p>コーヒー<br>※画像はお子様ランチ</p>
								</a>
						</div>
						<div class="column small-4">
								<a href="https://i0.wp.com/dtdsh.com/wp-content/uploads/2018/12/0182.jpg?fit=1777,1000" class="js--zoom"><img class="lazyload" data-src="//i1.wp.com/dtdsh.com/wp-content/uploads/2018/12/0182.jpg?resize=400,400"></a>
						</div>
						<div class="column small-8">
								<p>パン＆バター<br>※画像はお子様ランチ</p>
								</a>
						</div>
						<div class="column small-4">
								<a href="https://i0.wp.com/dtdsh.com/wp-content/uploads/2018/12/0181.jpg?fit=1777,1000" class="js--zoom"><img class="lazyload" data-src="//i1.wp.com/dtdsh.com/wp-content/uploads/2018/12/0181.jpg?resize=400,400"></a>
						</div>
				</div>




				<div class="hr row small-up-2 large-up-4 uncollapse">
						<div class="column">
								<a href="https://i0.wp.com/dtdsh.com/wp-content/uploads/2018/12/0203.jpg?fit=1777,1000" class="js--zoom"><img class="lazyload" data-src="//i1.wp.com/dtdsh.com/wp-content/uploads/2018/12/0203.jpg?resize=300,300"></a>
						</div>
						<div class="column">
								<a href="https://i0.wp.com/dtdsh.com/wp-content/uploads/2018/12/0201.jpg?fit=1777,1000" class="js--zoom"><img class="lazyload" data-src="//i1.wp.com/dtdsh.com/wp-content/uploads/2018/12/0201.jpg?resize=300,300"></a>
						</div>
						<div class="column">
								<a href="https://i0.wp.com/dtdsh.com/wp-content/uploads/2018/12/0206.jpg?fit=1777,1000" class="js--zoom"><img class="lazyload" data-src="//i1.wp.com/dtdsh.com/wp-content/uploads/2018/12/0206.jpg?resize=300,300"></a>
						</div>
						<div class="column">
								<a href="https://i0.wp.com/dtdsh.com/wp-content/uploads/2018/12/0200.jpg?fit=1777,1000" class="js--zoom"><img class="lazyload" data-src="//i1.wp.com/dtdsh.com/wp-content/uploads/2018/12/0200.jpg?resize=300,300"></a>
						</div>
						<div class="column">
								<a href="https://i0.wp.com/dtdsh.com/wp-content/uploads/2018/12/0185.jpg?fit=1777,1000" class="js--zoom"><img class="lazyload" data-src="//i1.wp.com/dtdsh.com/wp-content/uploads/2018/12/0185.jpg?resize=300,300"></a>
						</div>
						<div class="column">
								<a href="https://i0.wp.com/dtdsh.com/wp-content/uploads/2018/12/0186.jpg?fit=1777,1000" class="js--zoom"><img class="lazyload" data-src="//i1.wp.com/dtdsh.com/wp-content/uploads/2018/12/0186.jpg?resize=300,300"></a>
						</div>
						<div class="column">
								<a href="https://i0.wp.com/dtdsh.com/wp-content/uploads/2018/12/0187.jpg?fit=1777,1000" class="js--zoom"><img class="lazyload" data-src="//i1.wp.com/dtdsh.com/wp-content/uploads/2018/12/0187.jpg?resize=300,300"></a>
						</div>
						<div class="column">
								<a href="https://i0.wp.com/dtdsh.com/wp-content/uploads/2018/12/0188.jpg?fit=1777,1000" class="js--zoom"><img class="lazyload" data-src="//i1.wp.com/dtdsh.com/wp-content/uploads/2018/12/0188.jpg?resize=300,300"></a>
						</div>
						<div class="column">
								<a href="https://i0.wp.com/dtdsh.com/wp-content/uploads/2018/12/0189.jpg?fit=1777,1000" class="js--zoom"><img class="lazyload" data-src="//i1.wp.com/dtdsh.com/wp-content/uploads/2018/12/0189.jpg?resize=300,300"></a>
						</div>
						<div class="column">
								<a href="https://i0.wp.com/dtdsh.com/wp-content/uploads/2018/12/0190.jpg?fit=1777,1000" class="js--zoom"><img class="lazyload" data-src="//i1.wp.com/dtdsh.com/wp-content/uploads/2018/12/0190.jpg?resize=300,300"></a>
						</div>
						<div class="column">
								<a href="https://i0.wp.com/dtdsh.com/wp-content/uploads/2018/12/0239.jpg?fit=1777,1000" class="js--zoom"><img class="lazyload" data-src="//i1.wp.com/dtdsh.com/wp-content/uploads/2018/12/0239.jpg?resize=300,300"></a>
						</div>
						<div class="column">
								<a href="https://i0.wp.com/dtdsh.com/wp-content/uploads/2018/12/0193.jpg?fit=1777,1000" class="js--zoom"><img class="lazyload" data-src="//i1.wp.com/dtdsh.com/wp-content/uploads/2018/12/0193.jpg?resize=300,300"></a>
						</div>
						<div class="column">
								<a href="https://i0.wp.com/dtdsh.com/wp-content/uploads/2018/12/0194-e1545404883612.jpg?fit=1777,1000" class="js--zoom"><img class="lazyload" data-src="//i1.wp.com/dtdsh.com/wp-content/uploads/2018/12/0194-e1545404883612.jpg?resize=300,300"></a>
						</div>
						<div class="column">
								<a href="https://i0.wp.com/dtdsh.com/wp-content/uploads/2018/12/0195-e1545404920813.jpg?fit=1777,1000" class="js--zoom"><img class="lazyload" data-src="//i1.wp.com/dtdsh.com/wp-content/uploads/2018/12/0195-e1545404920813.jpg?resize=300,300"></a>
						</div>
						<div class="column">
								<a href="../vr-view.html?image=R0010017_20181210141523" class="link--pano" target="_blank"><img class="lazyload" data-src="//i1.wp.com/dtdsh.com/wp-content/uploads/2018/12/R0010017_20181210141523.jpg?resize=300,300"></a>
						</div>
						<div class="column">
								<a href="https://i0.wp.com/dtdsh.com/wp-content/uploads/2018/12/0202-e1545406154359.jpg?fit=1777,1000" class="js--zoom"><img class="lazyload" data-src="//i1.wp.com/dtdsh.com/wp-content/uploads/2018/12/0202-e1545406154359.jpg?resize=300,300"></a>
						</div>
				</div>










				<h1 class="title--page">新郎新婦から...</h1>
				<div class="row align-middle">
						<div class="column small-12 medium-4">
								<p>
										<a href="https://i0.wp.com/dtdsh.com/wp-content/uploads/2018/12/0241.jpg?fit=1777,1000" class="js--zoom"><img class="lazyload" data-src="//i1.wp.com/dtdsh.com/wp-content/uploads/2018/12/0241.jpg?w=400"></a>
								</p>
								<p>
										<a href="https://i0.wp.com/dtdsh.com/wp-content/uploads/2018/12/0242.jpg?fit=1777,1000" class="js--zoom"><img class="lazyload" data-src="//i1.wp.com/dtdsh.com/wp-content/uploads/2018/12/0242.jpg?w=400"></a>
								</p>
						</div>
						<div class="column small-12 medium-8 thank">
								<p class="text-left">宴もたけなわではございますが　お時間となりましたので締めの挨拶へ入らせていただきます</p>
								<p class="text-left">本日は寒く　かつ平日にも関わらず私たち二人のためにお集まりいただきありがとうございます<br>また　みなさまから心のこもったお祝いのお言葉を頂戴いたしまして重ねてお礼申し上げます</p>
								<p class="text-left">私たち二人は小学校で出会い　昨年９月に奇跡のような再会を果たし　それからジェットコースターに負けじ劣らずのスピードで愛を育んでまいりました<br>その勢い余り　みなさまにおかれましては憂慮に絶えず　残り少ない寿命が縮んだことと拝察いたしますが　私たちは勢い衰えずこれからも二人で力を合わせて楽しい家庭を築いてまいる所存でございます</p>
								<p class="text-left">更なるご指導ご鞭撻を賜り、、たいのは山々ですが　東風の馬耳を射るが如くでございますので　ほどほどにあたたかく見守っていただければ幸いです</p>
								<p class="text-left">最後にはなりますが本華燭之式　お集まりの皆さまのご健勝とご多幸をお祈り申し上げます<br>本日は誠にありがとうございました</p>
								<br>
								<p class="text-right">新郎　　福田　一生<br>新婦　　牧野　加奈</p>
						</div>
				</div>







				<div class="hr row">
						<div class="column">
								<a href="https://i0.wp.com/dtdsh.com/wp-content/uploads/2018/12/0264.jpg?fit=1777,1000" class="js--zoom"><img class="lazyload" data-src="//i0.wp.com/dtdsh.com/wp-content/uploads/2018/12/0264.jpg?w=1200"></a>
						</div>
				</div>






				<h1 class="title--page">祝辞を頂戴いたします。</h1>
				<div class="hr row">
						<div class="column">
								<div id="fb-root"></div>
								<script async>
										(function(d, s, id) {
												var js, fjs = d.getElementsByTagName(s)[0];
												if (d.getElementById(id)) return;
												js = d.createElement(s);
												js.id = id;
												js.src = 'https://connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v3.2&appId=1469026710042384&autoLogAppEvents=1';
												fjs.parentNode.insertBefore(js, fjs);
										}(document, 'script', 'facebook-jssdk'));
								</script>
								<div class="fb-comments" data-href="https://dtdsh.com/wedding/" data-width="100%" data-numposts="5"></div>
						</div>
				</div>

				<div class="hr row align-center cta">
						<div class="column">
								<p class="text-center">
										<a href="https://amzn.asia/2wszS2W" target="_blank" class="button"><img src="../assets/img/money--white.png"></a>
								</p>
								<p class="text-center">
										<a href="../photos/" target="_blank" class="button secondary">他の写真も見る</a>
								</p>
						</div>

				</div>




		</main>
		<%- include('../_footer'); %>
				<script src="../assets/js/lazysizes.js" aync></script>
				<script src="../assets/js/luminous.js" aync></script>
</body>

</html>